.regresar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #2A7AE4;
    border-radius: .5rem;
}

.regresar-parrafo{
    margin-bottom: 30px;
    font-size: 28px;
}

.regresar-link{
    margin-top: 36px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 1rem;
    transition: all .4s ease-in-out;
}

.regresar-link:hover{
    background-color: #2A7AE4;
    border: 1px solid black;

}